/* RESET */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*
body{
background-image: url(asset/banniere.jpg);
background-repeat: no-repeat;
}
/*

/* Les classes fonctionelles flex box */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-start {
    justify-content: flex-start;
}

/* alignement verticale */

.align-center {
    align-items: center;
}

.align-end {
    align-items: end;
}



/* GAP */
.gap-12 {
    gap: 12px;
}

/*  les classes de largeur */

.w-100 {
    width: 100%;
}

.w-48{
    width: 48%;
}

.w-33{
    width: 33%;
}

a{
    text-decoration: none;
}

ul li{
list-style-type: none;
}


.padding-top-20 {
    padding-top: 20px;
}


.padding-top-60{

   padding-top: 60px; 
}

h2{
   font-family: "Josefin Sans", sans-serif;
}

h1{
    font-family: "Andada Pro", serif;
}